body {
    color: #777;
	background-color: #f6f6f6;
	/*background-color: #BFDB31;*/
	/*aibabe*/
	line-height: 1.4;
	/*aibabe*/
}

/* Add transition to containers so they can push in and out */
#layout,
#menu,
.pure-menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/* --------------------------
 * Element Styles
 * --------------------------
*/


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.125em;
}

a {
    color: #3b8bba;
    text-decoration: none;
}

a:visited {
    color: #265778;
}

.nouni{
	display: none;
}

.uni,
.edit,
.uni1,
.uni2,
.uni3{
	font-family: 'Segoe UI Symbol','Lucida Sans Unicode','Arial Unicode MS';
}

.uni1{
	font-size: 17.5px;
}

.uni2{
	font-size: 20px;
}

.uni3{
	font-size: 30px;
}


.i-sis:before{
	content: "\1f3ab";
	font-size: 30px;
}

.icn-search:before{
	content: "\1f50d";
	font-family: 'Segoe UI Symbol';
}

.icn-wrench:before{
	content: "\1f527";
	font-family: 'Segoe UI Symbol';
}

.icn-hand-up:before{
	content: "\1f446";
	font-family: 'Segoe UI Symbol';
}

.icn-user:before{
	content: "\1f464";
	font-family: 'Segoe UI Symbol';
}

.icn-lock:before{
	content: "\1f512";
	font-family: 'Segoe UI Symbol';
}

.icn-user-md:before{
	content: "\1f464\270e";
	font-family: 'Segoe UI Symbol';
}

.icn-laptop:before{
	content: "\1f4bb";
	font-family: 'Segoe UI Symbol';
}

.icn-time:before{
	content: "\23f0";
	font-family: 'Segoe UI Symbol';
}

.icn-desktop:before{
	content: "\25a3";
	font-family: 'Segoe UI Symbol';
}

.icn-globe:before{
	content: "\1f30f";
	font-family: 'Segoe UI Symbol';
}

.icn-rele:before{
	content: "\29da";
	font-family: 'Segoe UI Symbol';
}

.icn-volume:before{
	content: "\1f50a";
	font-family: 'Segoe UI Symbol';
}

.icn-star:before{
	content: "\2605";
	font-family: 'Segoe UI Symbol';
}

.icn-ok:before{
	content: "\2714";
	font-family: 'Segoe UI Symbol';
}

.icn-remove:before{
	content: "\2718";
	font-family: 'Segoe UI Symbol';
}

.icn-info:before{
	content: "\2757";
	font-family: 'Segoe UI Symbol';
}

.icn-warning:before{
	content: "\26A0";
	font-family: 'Segoe UI Symbol';
}

.icn-bell:before{
	content: "\1f514";
	font-family: 'Segoe UI Symbol';
}

.icn-minus:before{
	content: "\268a";
	font-family: 'Segoe UI Symbol';
}

.icn-sis:before{
	content: "\1f4df";
	font-family: 'Segoe UI Symbol';
}

.icn-ac:before{
	content: "\1f50c";
	font-family: 'Segoe UI Symbol';
}

.icn-rec:before{
	content: "\25b6";
	font-family: 'Segoe UI Symbol';
}

.icn-bat:before{
	content: "\1f50b";
	font-family: 'Segoe UI Symbol';
}

.icn-sal:before{
	content: "\2794";
	font-family: 'Segoe UI Symbol';
}


.icn-bell{
  color: #D43F3F;
}

.icn-star.on{
  color: #F89406;
}

.icn-star.off{
  color: #878D96;
}

.icn-warning{
  color: #F89406;
}

.icn-info{
  color: #389ABE;
}

.icn-ok{
  color: #6B9B20;
}

.icn-remove{
    color:#BD362F;
}

.icn-minus{
    color:#878D96;
}

/* --------------------------
 * Layout Styles
 * --------------------------
*/

#layout {
    padding-left: 175px; /* left col width "#menu" */
    left: 0;
}


/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */
.l-box {
    padding: 1.3em;
	/*padding: 1.3em 0em 1.3em 1.3em ;*/
}

.l-vbox {
    padding: 1.3em 0;
}

.l-hbox {
    padding: 0 1.3em;
}

.l-hlbox {
    padding-left:1.3em;
}

.l-centered {
    text-align: center;
}

.c {
	/*margin: 1.3em 1.3em 0.3em 1.3em;*/
	margin: 0.6em 1.3em 0.3em 1.3em;	
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 0.3em;
}

.l {
    margin-left: 0.5em;
    border-radius: 3px;
	padding: 0.1em 0.3em 0.1em 0.3em;
	border: 1px solid #fff;
}

/* --------------------------
 * Header Module Styles
 * --------------------------
*/

 /* --------------------------
  * Content Module Styles
  * --------------------------
 */
 
/* --------------------------
 * Footer Module Styles
 * --------------------------
*/
.footer{
    font-size: 80%;
	margin-top: 25px;
	text-align: center;
}

/* --------------------------
 * Main Navigation Bar Styles
 * --------------------------
*/

#menu {
    margin-left: -175px; /* "#menu" width */
    width: 175px;
    position: fixed;
    top: 0;
    left: 175px;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scroll: touch;
}
	/*
    #menu a,form {
        color: #999;
        border: none;
        white-space: normal;
        padding: 0.6em 0 0.6em 0.6em;
    }
	*/
	
	#menu form,#menu button{
        margin-left: 0.6em;
    }
	
    #menu a{
        color: #999;
        border: none;
        white-space: normal;
        padding: 0.6em 0 0.6em 0.6em;
    }
	

	#menu .pure-form input[type=text], #menu .pure-form input[type=password] {
		font-size: 12px;
	}

	

    #menu .pure-menu-open {
        background: transparent;
        border: 0;
    }

    #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }

        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #444;
        }
		
	.tree .selected a{background:#444;color: #fff;}
	
	.tree .selected a:hover,
	.tree .selected a:focus {
		background: #444;
		color: #fff;
	}
	
	 /*
	.tree .selected a{background:#f57b00}
	*/

    .pure-menu-link {
        display: none; /* show this only on small screens */
        top: 0;
        left: 150px; /* "#menu width" */
        /*
		background: #000;
        background: rgba(0,0,0,0.7);
		*/
		background: #f57b00;
		background: rgba(252,123,0,0.9);
		
        font-size: 10px; /* change this value to increase/decrease button size */
        z-index: 10;
        width: 2em;
        height: auto;
        padding: 2.1em 1.6em;
    }

        .pure-menu-link:hover,
        .pure-menu-link:focus {
            /*
			background: #000;
			*/
			background: #f57b00;
        }

        .pure-menu-link span {
            position: relative;
            display: block;
        }

        .pure-menu-link span,
        .pure-menu-link span:before,
        .pure-menu-link span:after {
            background-color: #fff;
            width: 100%;
            height: .2em;
            -webkit-transition: all 0.8s;
               -moz-transition: all 0.8s;
                -ms-transition: all 0.8s;
                 -o-transition: all 0.8s;
                    transition: all 0.8s;
        }

            .pure-menu-link span:before,
            .pure-menu-link span:after {
                position: absolute;
                margin-top: -.6em;
                content: " ";
            }

            .pure-menu-link span:after {
                margin-top: .6em;
            }

        .pure-menu-link.active span {
            background: transparent;
        }

            .pure-menu-link.active span:before {
                -webkit-transform: rotate(45deg) translate(.5em, .4em);
                   -moz-transform: rotate(45deg) translate(.5em, .4em);
                    -ms-transform: rotate(45deg) translate(.5em, .4em);
                     -o-transform: rotate(45deg) translate(.5em, .4em);
                        transform: rotate(45deg) translate(.5em, .4em);
            }

            .pure-menu-link.active span:after {
                -webkit-transform: rotate(-45deg) translate(.45em, -.35em);
                   -moz-transform: rotate(-45deg) translate(.45em, -.35em);
                    -ms-transform: rotate(-45deg) translate(.45em, -.35em);
                     -o-transform: rotate(-45deg) translate(.45em, -.35em);
                        transform: rotate(-45deg) translate(.45em, -.35em);
            }

    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
		text-transform: none;
    }
    #menu .pure-menu-heading:hover,
    #menu .pure-menu-heading:focus {
        color: #999;
    }

    #menu .selected {
        /*background: #1f8dd6;*/
		background: #f57b00;
		/*background: #f37b1d;*/
    }

        #menu .selected a {
            color: #fff;
        }

        #menu li.selected a:hover,
        #menu li.selected a:focus {
            background: none;
        }

.scrollcontainer {
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scroll: touch;
	/*border: 1px solid grey;*/
}

.scrollcontainer ul{
	/*width: 825px;*/
	/*
	width: 875px;
	*/
	width: 725px;
	margin-bottom: 0.65em;
}

.pure-table tr.row_selected{
	background-color: #cfd7e8;
}

.cfg select,
.cfg input[type="text"]{
/*
  width:90%;
  margin-left:5%;
  */
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*input[type="text"][disabled]{*/
.pure-form input[type="text"][disabled],.pure-form textarea[disabled]{
	color: rgb(84, 84, 84);
}

/*bootstrap modal*/
/*
.modal {
  //position: fixed;
  //top: 10%;
  //left: 50%;
  //z-index: 1050;
  //width: 600px;
  //margin-left: -280px;
  //background-color: #ffffff;
  //border: 1px solid #999;
  //border: 1px solid rgba(0, 0, 0, 0.3);
  // *border: 1px solid #999;
  // -webkit-border-radius: 6px;
  //   -moz-border-radius: 6px;
  //       border-radius: 6px;
  //outline: none;
  //-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  //   -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  //        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  //-webkit-background-clip: padding-box;
  //   -moz-background-clip: padding-box;
  //       background-clip: padding-box;
 //
    position: fixed;
  top: 20%;
  left: 30%;
  // *width: auto;
  // margin: 0;
	
	min-width: 400px;
	// min-width: 480px;
	// margin-left: -280px;
	
	z-index: 1050;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  // border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}
*/
.modal{
	position:fixed;
	top:20%;
	/*left:50%;*/
	left:30%;
	z-index:1050;
	min-width: 400px;
	/*margin-left:-280px;*/
	background-color:#ffffff;
	border:1px solid #999;
	border:1px solid rgba(0, 0, 0, 0.3);
	*border:1px solid #999;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	background-clip:padding-box;
	outline:none;
}
	
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

/*
.modal-header .close {
  margin-top: 2px;
}
*/

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  /*max-height: 400px;*/
  padding: 10px 10px 0px 10px;
  /*overflow-y: auto;*/
}

/*
.modal-form {
  margin-bottom: 0;
}
*/

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  /* *zoom: 1;*/
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

/*
.blur {
    -webkit-filter: blur(5px) grayscale(50%);
}
}
*/

#modal_ipcfg{
	position: absolute;
	top: 7%;
	left: 10%;
	right: 10%;
}

aside {
    /*background: #1f8dd6;*/ /* same color as selected state on site menu */
    padding: 0.3em 1em;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
		border-radius: 3px;
    /*color: #fff;*/
}

.hide {
  display: none;
}

.show {
  display: block;
}
/*bootstrap modal*/

#ajax-loader { 
  position: absolute; 
  z-index: 1000; 
  background-color: transparent;
  /*opacity: 0.75; 
  display: none;*/
 }
		
.loader {float:left;clear:both;/*padding: 2.25em 0;*/}
.loader ul{float:left; margin:3px;/**/padding: 0;/**/}
.loader li {width:0.75em;height:0.75em;float:left;background:#FFF;border:.093em solid #DDD;list-style:none;margin:0 .063em;line-height:0}

.loader .playhead {background:#CCC;border-color:#666}
.loader .g.playhead {background:#5eb95e;border-color:#666}
.loader .r.playhead {background:#dd514c;border-color:#666}
.loader .burst {background:#999;border-color:#333}

.circle {color:#DDD;width:inherit}
.circle li {line-height:.5em;font-size:4em;border:0;width:.375em;height:.375em;margin:0;position:absolute;background:none}
.circle .playhead {background:none;color:#333}
.circle .burst {color:#000}

/* ---------------------
 * Smaller Module Styles
 * ---------------------
*/

.pure-button {
    font-family: inherit;
}

.pure-paginator .pure-button{
	padding: 0.8em 0.8em;
}

.pure-table{
    width: 100%;
}

.marketing-ribbon {
    border-bottom: 1px solid #eee;
    /*padding: 1em 0;
	padding: 0.65em 0;*/
	/*padding: 0.65em 0 0.65em 4em;*/
	padding: 0.65em 0 0.65em 0.65em;
	/**/
    background: rgb(250, 250, 250);
	/**/
}

.marketing-ribbon .content {
	margin-bottom: 0;
}
.marketing-ribbon h3 {
	font-size: 1.47em;
	font-weight: normal;
}
.marketing-ribbon p {
	font-size: 1.125em;
	line-height: 1.6em;
}

.b {
    background: #e1f2fa;
    color: #5992aa;
}

.y {
    background: #fcebbd;
    color: #af9540;
}

.w {
	background: #FDFDFD;
    color: #777777;
}

.k {
    background: #333;
    color: #fff;
}

.g {
    background: #d3eda3;
    color: #72962e;
}

.r {
    /*background: #f5ab9e;*/
	background: #dd514c;
    /*color: #8c3a2b;*/
	color: #fff;
}
.red {
	font-size: 0.8em;
	color: #dd514c;
}
.orange {
	font-size: 0.8em;
	/*color: #e1f2fa;*/
	color: rgba(00, 142, 212, 0.4);
}
.blue {
	font-size: 0.8em;
	color: #008ed4;
}
.p {
    background: #ddaeff;
    color: #8156a7;
}

.o {
    background: #f57b00;
    color: #ffca95;
}

.i {
    background: #008ed4;
    color: #fff;
}

.btn-b,
.btn-g,
.btn-y,
.btn-o,
.btn-r,
.btn-p,
.btn-w{
	/*button
	-moz-transition: -moz-box-shadow 0.1s linear 0s;
	-moz-user-select: none;
	cursor: pointer;
	border: 0 none transparent;
	padding: 0.5em 1.5em;
	display: inline-block;
	button*/
	/*
    font-size: 120%;
    font-weight: bold;
	*/
    /*margin: 0.25em 0;*/
	margin: 0.25em;
	color: white;
	border-radius: 4px;
	border: 0 none transparent;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-b{
    background: #1f8dd6;
}

.btn-g{
    background: #5eb95e;
}

.btn-y{
    background: #fcebbd;
    color: #af9540;
}

.btn-r{
    background: #dd514c;
}

.btn-o{
    background: #f37b1d;
}

.btn-p{
    background: #8058a5;
}

a.btn-w{
    background: #fff;
    color: #666;
    border: 1px solid #ddd;
}

.pull-right{float:right;}

/*
.ajax{
	text-align: right;
}
*/

/* --------------------------
 * Responsive Styles
 * --------------------------
*/

/*Landscape phones and down
@media (max-width: 479px) {}
*/
  
/*Mobile phone*/
@media (max-width: 767px) {
   /* normalize paddings on small screens*/
	/*
    .l-hbox {
		padding: 0 1.3em;
    }
    .l-box {
		padding: 0.3em;
    }
	*/
	
	.modal{position:fixed;top:20px;left:20px;right:20px;width:auto;margin:0;}
	
	.l-box {
		padding: 0.3em;
	}

	.l-vbox {
		padding: 0.3em 0;
	}

	.l-hbox {
		padding: 0 0.3em;
	}

	.l-hlbox {
		padding-left:0.3em;
	}
	
	.modal {
	  left: 5%;
	}
	
	#settings_table tr > td:nth-child(4) { 
	  display:none;
	}

	#settings_table th:nth-child(4) { 
	  display:none;
	}
	
	/*
	#control_table tr > td:nth-child(2) { 
	  display:none;
	}

	#control_table th:nth-child(2) { 
	  display:none;
	}
	*/
	
	#ditable tr > td:nth-child(n+3) { 
	  display:none;
	}
	#ditable th:nth-child(n+3){ 
	  display:none;
	}

/*
	.c {
		margin: 0;
		border: none;
		padding: 0;
	}
	*/
	/*
	.c {
		margin: 0.3em 0.3em 0.1em 0.3em;
		border: 0px solid #ddd;
		border-radius: 5px;
		padding: 0.1em;
	}
	*/
	/*	
	.pure-table td, .pure-table th {
		padding: 2px 4px;
	}
	*/

    /* by default l-hbox becomes padding: 1.3em; at <= 767px. However, this makes the heading
    too far away from the content, so adding this in here. */
    h3.l-hbox,
    p.l-hbox {
        padding: 0 1.3em;
    }
}

/*Normal Desktop & Tablet*/
@media (min-width:768px) and (max-width:979px){}

/*phone and tablet*/
@media (max-width: 979px) {

	/*
	.pure-table td, .pure-table th {
		padding: 2px 4px;
	}
	*/
	
	.marketing-ribbon {
		padding: 0.65em 0 0.65em 4em;
	}
	
    /* Navigation Push Styles */
    #layout {
        position: relative;
        padding-left: 0;
    }
        #layout.active {
            position: relative;
            left: 175px;
        }
            #layout.active #menu {
                left: 175px;
                width: 175px;
            }

    #menu {
        left: 0;
    }
	
	.c {
		margin: 0.3em 0.3em 0.1em 0.3em;
		border: 0px solid #ddd;
		border-radius: 5px;
		padding: 0.1em;
	}
	
	#alarms_table th:nth-child(2), #alarms_table tr > td:nth-child(2){
	  display:none;
	}

	#alarms_table tr > td:nth-child(n+8) { 
	  display:none;
	}
	#alarms_table th:nth-child(n+8), #alarms_table tr:nth-child(2){ 
	  display:none;
	}
	
	#alarms_his_table th:nth-child(2), #alarms_his_table tr > td:nth-child(2){
	  display:none;
	}
	
	#alarms_his_table tr > td:nth-child(n+8) { 
	  display:none;
	}
	#alarms_his_table th:nth-child(n+8), #alarms_his_table tr:nth-child(2){ 
	  display:none;
	}
	
	#settings_his_table tr > td:nth-child(6) { 
	  display:none;
	}

	#settings_his_table th:nth-child(6) { 
	  display:none;
	}
	
	#settings_his_table tr > td:nth-child(8) { 
	  display:none;
	}

	#settings_his_table th:nth-child(8) { 
	  display:none;
	}
	
	.breadcrumb{
		width: 80%;
	}

	.ajax{
		width: 15%;
		text-align: right;
	}
	
	.login{
		width: 100%;
	}
	
    .pure-menu-link {
        position: fixed;
        left: 0;
        display: block;
    }

    #layout.active .pure-menu-link {
        left: 175px;
    }
}

@media (max-width: 1199px) {
	.pure-table td, .pure-table th {
		padding: 2px 4px;
	}
}

/*Default*/
@media (min-width:980px) and (max-width:1199px){

	.c {
		margin: 0.3em 0.3em 0.1em 0.3em;
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 0.1em;
	}

}

/*Large Desktop*/
@media (min-width:1200px){}

